body {
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.thebe-activate {
  margin-bottom: 15px;
}
.thebe-activate-button {
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightblue;
  text-transform: uppercase;
}
.pre-element {
  width: 50vw;
  height: 20vh;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.thebe-cell,
.thebelab-cell {
  width: 50vw;
}
