build
_build
node_modules
npm-debug.log
target
node
src/_tmp
dist
lib
coverage
env
.nyc_output
.tmp
.DS_Store
.cache

*._
webpack.stats.*
apps/docs/_build
apps/docs/_static/lib
/.idea/
junit.xml

.turbo
.ipynb_checkpoints