.thebe-status-button {
  background-color: #ccc;
  border-radius: 4px;
  margin: auto;
  padding: 8px;
}

.thebe-status-button.thebe-status-building {
  /* Binder is building the image */
}

.thebe-status-button.thebe-status-launching {
  /* Binder launching the server */
}

.thebe-status-button.thebe-status-ready {
  /* The kernel is connected and ready */
  background-color: #8d8;
}

.thebe-status-button.thebe-status-failed {
  /* Building the image or launching the kernel failed */
  background-color: #f66;
}


.thebe-status-button.thebe-status-busy {
  /* The kernel is busy (this event is not hooked up yet) */
}
