body {
  padding: 10px;
  font-family: Helvetica, Arial, Sans-Serif;
  display: flex;
}
body > div {
  margin: 16px;
  max-width: 720px;
}
pre {
  border: 1px gray solid;
  width: fit-content;
  padding: 10px;
}
button {
  cursor: pointer;
}
.status {
  font-weight: bold;
}
.controls {
  padding-top: 64px;
}

@media (max-width: 1440px) {
  body {
    flex-direction: column;
  }
  .controls {
    padding-top: 0px;
  }
}
