.thebelab-cell {
  border: 2px solid #aaa;
  border-radius: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.thebelab-cell:focus-within {
  border-color: green;
}

.jp-OutputArea > :first-child {
  padding-top: 0.5em;
  border-top: 1px solid #aaa;
}

.CodeMirror {
  height: auto;
}

.CodeMirror-scroll {
  height: auto;
}

.CodeMirror {
  background-color: transparent;
}

.CodeMirror.CodeMirror-focused {
  /* background-color: white; */
}

/* no prompts */
.jp-OutputPrompt {
  display: none;
}

.thebelab-busy {
  display: inline-block;
  vertical-align: middle;
  padding-left: 2px;
  visibility: hidden;
}

.thebelab-busy-spinner {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 13px;
  height: 13px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
