# Useful GitHub Actions docs:
#
# - https://help.github.com/en/actions
# - https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions
# - https://help.github.com/en/actions/configuring-and-managing-workflows/configuring-a-workflow
# - https://help.github.com/en/actions/reference/context-and-expression-syntax-for-github-actions

name: test

on:
  - push
  - pull_request

jobs:
  # Job to run linter / autoformat
  lint:
    runs-on: ubuntu-18.04
    steps:
      # Action Repo: https://github.com/actions/checkout
      - name: "Checkout repo"
        uses: actions/checkout@v2

      # Action Repo: https://github.com/actions/setup-node
      - name: "Setup Node"
        uses: actions/setup-node@v1
        with:
          node-version: "15"

      # Action Repo: https://github.com/actions/cache
      - name: "Cache node_modules"
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.os }}-npm-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-

      - name: "Install"
        run: |
          npm install

      - name: "`npm run fmt` and check for changes"
        run: |
          # If this fails, run `npm run fmt` and push the result
          # amend if you feel so inclined.
          npm run fmt
          git diff --exit-code

  test:
    # no need to wait for lint
    # needs: lint
    runs-on: ubuntu-18.04
    # - https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idstrategy
    strategy:
      fail-fast: false  # Do not cancel all jobs if one fails
      matrix:
        node_version: ["10", "12", "14", "15"]

    steps:
      - name: "Checkout repo"
        uses: actions/checkout@v2

      # Action Repo: https://github.com/actions/setup-node
      - name: "Setup Node"
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node_version }}

      # Action Repo: https://github.com/actions/cache
      - name: "Cache node_modules"
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.os }}-npm-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-

      - name: "Install dependencies"
        run: |
          npm ci

      - name: "Run tests"
        run: |
          npm run test
          npm run test:e2e

      # Action Repo: https://github.com/codecov/codecov-action
      - name: "Upload coverage to codecov"
        uses: codecov/codecov-action@v1
